@import "../../../assets/css/Font.css";

:root {
  /* font-family */
  --Font-Playfair: "Playfair Display", serif;
  --Font-Poppins: "Poppins", serif;
  --Font-Oswald: "Oswald", serif;
  --Font-Noto: "Noto Serif JP", serif;
  --Font-Montserrat: "Montserrat", serif;

  /* colors */
  --Heading-color: #222222;
  --subtext-color: #b3b3b3;
  --text-color: #575757;
}
.post-section{
  margin: 0 0 30px 0;
}
.post-view {
  line-height: 27px;
  padding: 0 15px;
}
.post-header .post-header-heading h1 {
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--Heading-color);
  margin: 0 0 6px 0;
  font-family: var(--Font-Playfair);
  font-weight: 100;
}
.post-header .post-header-heading p {
  color: var(--subtext-color);
  font-family: var(--Font-Playfair);
}
.post-content p,
.post-venue p {
  font-family: var(--Font-Playfair);
  letter-spacing: 0.5px;
  font-size: 15px;
  text-align: justify;
  word-wrap: break-word;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .post-header .post-header-heading h1 {
    font-size: 25px;
    letter-spacing: 1.5px;
  }
  .post-content p,
  .post-venue p {
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 14px;
    text-align:justify;
  }
}
